.theme-light {
    --page-background-color: #F5F6F9;
    --button-background-color: #47cdff;
    --card-background-color: white;
    --header-background-color: white;

    --text-default-color : #222;
}
